:root {
    --earth: 10px;
}

body {
    margin: 0;
    padding: 0;
    background-color: #070707;
    box-sizing: border-box;
    width: 100%;
    height: 100vh;
    display: grid;
    place-items: center;
    margin: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.container {
    display: flex;
    justify-content: center;
    position: relative;
    flex-direction: column;
}

/*  Sun: roughly 100 earths
    Mercury: 1/3 earths .25 yrs
    Venus: ~.9 earths .62yrs
    moon: 1/4 earth 1yr
    Mars: 1/2 earths  1.88yrs
    Jupiter: 11x earth 11.86yrs
    Saturn: 9x earth 29.46yrs
    Uranus:4x earth 84.01 yrs
    Neptune: 3.9 earth 164.8 yrs
    Pluto: 1/5 earth  248 yrs 
    */
.sun {
    background-color: yellow;
    height: 900px;
    width: 900px;
    border-radius: 50%;
    /* border: 2px solid orange; */
    position: absolute;
    transform: translate(-50%);
    overflow: hidden;
    box-shadow: 0 0 50px yellow;
    z-index: 1;
}

.sun::before {
    content: "";
    position: absolute;
    height: 150px;
    width: 1200px;
    box-shadow: 50px 900px rgba(214, 22, 22, 0.7),
        200px 500px rgba(182, 127, 9, 0.7),
        300px 100px rgba(211, 70, 14, 0.7),
        -200px 420px rgb(139, 27, 27, 0.7),
        -100px 220px rgba(211, 79, 79, 0.7),
        400px 300px rgba(231, 102, 43, 0.7),
        -400px 300px rgb(139, 27, 27, 0.7),
        -400px 550px rgba(240, 145, 2, 0.7),
        -50px 760px rgba(165, 143, 17, 0.7),
        20px 650px rgba(150, 0, 0, 0.7);
    border-radius: 50%;
    top: -175px;

    animation: sunrotation 45s ease-in-out infinite;

}


.mercury {
    background-color: slategray;
    width: calc(var(--earth) * 0.38);
    height: calc(var(--earth) * 0.38);
    border-radius: 50%;
    border: 1px solid grey;
    position: absolute;
    box-shadow: inset -1px 0px 1px rgba(0, 0, 0, 0.6);
    bottom: 10px;
    z-index: 2;
    rotate: 7deg;
    animation: orbitmerc 5s linear infinite;
}

.mercury:hover::before {
    height: 30px;
    width: 1px;
    background-color: black;
    content: "";
    position: absolute;
    bottom: 5px;
    left: 1px
}

.mercury:hover::after {
    content: "Mercury";
    position: absolute;
    bottom: 32px;
    /* ::before height + (.5 * (width + border)) */
}

.venus {
    background-color: #7a8121;
    width: calc(var(--earth) * 0.95);
    height: calc(var(--earth) * 0.95);
    border-radius: 50%;
    border: 1px solid #464912;
    position: absolute;
    box-shadow: inset -1px 0px 1px rgba(0, 0, 0, 0.6);
    z-index: 3;
    rotate: 3deg;
    animation: orbitvenus 12s linear infinite;
}

.venus:hover::before {
    height: 30px;
    width: 1px;
    background-color: black;
    content: "";
    position: absolute;
    bottom: 11px;
    left: 4px;
}

.venus:hover::after {
    content: "Venus";
    position: absolute;
    bottom: 39px;
    left: 3px;
}

.earth {
    background-color: blue;
    width: var(--earth);
    height: var(--earth);
    border-radius: 50%;
    border: 1px solid green;
    position: absolute;
    box-shadow: inset -1px 0px 1px rgba(0, 0, 0, 0.6);
    z-index: 4;
    animation: orbitearth 20s linear infinite;
    display: flex;
    align-items: center;
    justify-content: center;
}

.earth:hover::before {
    height: 30px;
    width: 1px;
    background-color: black;
    content: "";
    position: absolute;
    bottom: 12px;
    left: 4px;

}

.earth:hover::after {
    content: "Earth";
    position: absolute;
    bottom: 40px;
    left: 3px;
}

.moon {
    background-color: lightblue;
    width: calc(var(--earth) / 5);
    height: calc(var(--earth) / 5);
    border-radius: 50%;
    border: .5px solid white;
    position: absolute;
    box-shadow: inset -1px 0px 1px rgba(0, 0, 0, 0.6);
    z-index: 4;
    animation: orbitmoon 1.5s linear infinite;
}

/* .moon::before {
    height: 30px;
    width: 1px;
    background-color: black;
    content: "";
    position: relative;
    bottom: 12px;
    left: 4px;
} */

/* 
.moon::after {
    content: "moon";
    position: absolute;
    bottom: 40px;
    left: 3px;
} */

.mars {
    background-color: maroon;
    width: calc(var(--earth) / 2);
    height: calc(var(--earth) / 2);
    border-radius: 50%;
    border: 1px solid darkred;
    position: absolute;
    box-shadow: inset -1px 0px 9px rgba(0, 0, 0, 0.6);
    bottom: 4px;
    z-index: 5;
    rotate: 1.8deg;
    animation: orbitvenus 36s linear infinite;
}

.mars:hover::before {
    height: 30px;
    width: 1px;
    background-color: black;
    content: "";
    position: absolute;
    bottom: 7px;
    left: 2px;
}

.mars:hover::after {
    content: "Mars";
    position: absolute;
    bottom: 35px;
}

.jupiter {
    background-color: orangered;
    width: calc(var(--earth) * 11.2);
    height: calc(var(--earth) * 11.2);
    border-radius: 50%;
    border: 1px solid darkred;
    position: absolute;
    box-shadow: inset -1px 0px 80px rgba(0, 0, 0, 0.6);
    z-index: 6;
    rotate: 1.3deg;
    animation: orbitjupiter 220s linear infinite;

    display: flex;
    align-items: center;
    justify-content: center;
}

.reddot {
    position: absolute;
    height: 24px;
    width: 30px;
    background-color: darkred;
    border-radius: 50%;
    top: 58px;
    left: 25px;
}

.jupiter:hover::before {
    height: 30px;
    width: 1px;
    background-color: black;
    content: "";
    position: absolute;
    bottom: 115px;
    left: 52px;
}

.jupiter:hover::after {
    content: "Jupiter";
    position: absolute;
    bottom: 145px;
    left: 52px;
}

.saturn {
    background-color: orange;
    width: calc(var(--earth) * 9.45);
    height: calc(var(--earth) * 9.45);
    border-radius: 50%;
    border: 1px solid darkgoldenrod;
    position: absolute;
    /* box-shadow: inset -1px 0px 9px rgba(0, 0, 0, 0.6); */
    bottom: 8px;
    z-index: 7;
    rotate: 2.5deg;
    display: grid;
    align-items: center;
    justify-content: center;

    animation: orbitsaturn 58s linear infinite;
}

.rings {
    width: calc(var(--earth) * 15);
    height: 10px;
    border-radius: 50%;
    background: radial-gradient(#333333,
            #333333 50%,
            #eeeeee 75%,
            #333333 75%);
    position: relative;
    border: 1px solid darkgoldenrod;
    bottom: -2px;
    rotate: 17deg;
    animation: rings 58s linear infinite;

}

.rings::before {
    content: "";
    position: absolute;
    background: rgba(255, 165, 0);
    width: calc((var(--earth) * 9.45));
    height: 10px;
    border-radius: 50%;
    left: 28px;
    top: -4.75px;
    border-bottom: 1px solid darkgoldenrod;
}

.saturn:hover::before {
    height: 30px;
    width: 1px;
    background-color: black;
    content: "";
    position: absolute;
    bottom: 97px;
    left: 45px;
}

.saturn:hover::after {
    content: "Saturn";
    position: absolute;
    bottom: 125px;
    left: 44px;
}

.uranus {
    background-color: #067158;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 1px solid #049f7b;
    position: absolute;
    box-shadow: inset -1px 0px 9px rgba(0, 0, 0, 0.6);
    bottom: 6px;
    z-index: 8;
    animation: orbituranus 1680s linear infinite;
}

.uranus:hover::before {
    height: 30px;
    width: 1px;
    background-color: black;
    content: "";
    position: absolute;
    bottom: 42px;
    left: 20px;
}

.uranus:hover::after {
    content: "Uranus";
    position: absolute;
    bottom: 70px;
    left: 20px;
}

.neptune {
    background-color: #0c2198;
    width: 38px;
    height: 38px;
    border-radius: 50%;
    border: 1px solid #08427c;
    position: absolute;
    box-shadow: inset -1px 0px 9px rgba(0, 0, 0, 0.6);
    bottom: 20px;
    z-index: 9;
    rotate: 1.7deg;
    animation: orbitneptune 3200s linear infinite;
}

.neptune:hover::before {
    height: 30px;
    width: 1px;
    background-color: black;
    content: "";
    position: absolute;
    bottom: 40px;
    left: 19px;
}

.neptune:hover::after {
    content: "Neptune";
    position: absolute;
    bottom: 68px;
    left: 18px;
}

.pluto {
    background-color: #0c2198;
    width: 2px;
    height: 2px;
    border-radius: 50%;
    border: 1px solid #08427c;
    position: absolute;
    box-shadow: inset -1px 0px 9px rgba(0, 0, 0, 0.6);
    bottom: 130px;
    rotate: 17deg;
    z-index: 10;
    animation: orbitpluto 4960s linear infinite
}

.pluto:hover::before {
    height: 30px;
    width: 1px;
    background-color: black;
    content: "";
    position: absolute;
    bottom: 4px;
    left: 0.5px;
}

.pluto:hover::after {
    content: "Pluto";
    position: absolute;
    bottom: 32px;
    left: -1px;
}

footer {
    position: absolute;
    color: white;
    background-color: #070707;
    top: 0;
    left: 0;
    margin-left: 5px;
    margin-top: 10px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 10px;
}

/* A bunch of annoying animations */

@keyframes orbitmerc {
    0% {
        transform: translate(0px, 0px);
    }

    25% {
        transform: translate(455px, 0px);
    }

    50% {
        transform: translate(0px, 0px);
        z-index: -1;
    }

    75% {
        transform: translate(-455px, 0px);
    }

    100% {
        transform: translate(0px, 0px);
    }

}

@keyframes orbitvenus {
    0% {
        transform: translate(0px, 0px);
        z-index: 2;
    }

    25% {
        transform: translate(470px, 0px);
        z-index: 1;
    }

    26% {
        z-index: 0;
    }

    50% {
        transform: translate(0px, 0px);
        z-index: 0;
    }

    74% {
        z-index: -1;
    }

    75% {
        transform: translate(-500px, 0px);
        z-index: 2;
    }

    100% {
        transform: translate(0px, 0px);
    }
}

@keyframes orbitearth {
    0% {
        transform: translate(0px, 0px);
        z-index: 2;
    }

    25% {
        transform: translate(470px, 0px);
        z-index: 1;
    }

    26% {
        z-index: 0;
    }

    50% {
        transform: translate(0px, 0px);
        z-index: 0;
    }

    74% {
        z-index: -1;
    }

    75% {
        transform: translate(-530px, 0px);
        z-index: 2;
    }

    100% {
        transform: translate(0px, 0px);
    }
}

@keyframes orbitmoon {
    0% {
        transform: translate(0px, 0px);
    }

    25% {
        transform: translate(7px, 0px);
        opacity: 100;
    }

    26% {
        opacity: 0;
    }

    50% {
        transform: translate(0px, 0px);
        opacity: 0;
    }

    70% {
        opacity: 0;
    }

    75% {
        transform: translate(-10px, 0px);
        opacity: 100;
    }

    100% {
        transform: translate(0px, 0px);
    }
}

@keyframes orbitjupiter {
    0% {
        transform: translate(0px, 0px);
        z-index: 2;
    }

    25% {
        transform: translate(650px, 0px);
        z-index: 1;
    }

    26% {
        z-index: 0;
    }

    50% {
        transform: translate(0px, 0px);
        z-index: 0;
    }

    74% {
        z-index: -1;
    }

    75% {
        transform: translate(-750px, 0px);
        z-index: 6;
    }

    100% {
        transform: translate(0px, 0px);
    }
}


@keyframes orbitsaturn {
    0% {
        transform: translate(0px, 0px);
        z-index: 2;
    }

    25% {
        transform: translate(680px, 0px);
        z-index: 1;
    }

    26% {
        z-index: 0;
    }

    50% {
        transform: translate(0px, 0px);
        z-index: 0;
    }

    74% {
        z-index: -1;
    }

    75% {
        transform: translate(-765px, 0px);
        z-index: 6;
    }

    100% {
        transform: translate(0px, 0px);
    }
}

@keyframes rings {
    0% {
        transform: rotate(17deg)
    }

    12% {
        transform: rotate(0deg)
    }

    50% {
        transform: rotate(-17deg)
    }

    88% {
        transform: rotate(0deg)
    }

    100% {
        transform: rotate(17deg)
    }
}

@keyframes sunrotation {
    0% {
        transform: scale(1) translateX(-50px);
    }

    50% {
        transform: scale(1.3) translateX(100px);
    }

    100% {
        transform: scale(1) translateX(-50px)
    }
}

@keyframes orbituranus {
    0% {
        transform: translate(0px, 0px);
        z-index: 7;
    }

    25% {
        transform: translate(740px, 0px);
        z-index: 1;
    }

    26% {
        z-index: 0;
    }

    50% {
        transform: translate(0px, 0px);
        z-index: 0;
    }

    74% {
        z-index: -1;
    }

    75% {
        transform: translate(-800px, 0px);
        z-index: 7;
    }

    100% {
        transform: translate(0px, 0px);
    }
}

@keyframes orbitneptune {
    0% {
        transform: translate(0px, 0px);
        z-index: 8;
    }

    25% {
        transform: translate(800px, 0px);
        z-index: 8;
    }

    26% {
        z-index: 0;
    }

    50% {
        transform: translate(0px, 0px);
        z-index: 0;
    }

    74% {
        z-index: -1;
    }

    75% {
        transform: translate(-850px, 0px);
        z-index: 8;
    }

    100% {
        transform: translate(0px, 0px);
    }
}

@keyframes orbitpluto {
    0% {
        transform: translate(0px, 0px);
        z-index: 2;
    }

    25% {
        transform: translate(1050px, 0px);
        z-index: 1;
    }

    26% {
        z-index: 0;
    }

    50% {
        transform: translate(0px, 0px);
        z-index: 0;
    }

    74% {
        z-index: -1;
    }

    75% {
        transform: translate(-1100px, 0px);
        z-index: 10;
    }

    100% {
        transform: translate(0px, 0px);
    }
}